{
  "targets": ["last 2 chrome versions", "last 2 firefox versions"],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ],
  "presets": [
    "@babel/preset-env",
    ["@babel/preset-react", { "runtime": "automatic" }],
    "babel-preset-jest"
  ]
}